.Student_first {
  height: 100vh !important;
}
.Student_pic {
  background-color: grey;
  height: 100vh;
}

.Student_head1 {
  margin-top: 92px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  /* identical to box height */
  color: #29517c;
  margin-left: 46px;
  text-align: left;
}
.Student_head2 {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: 200;
  font-size: 48px;
  line-height: 57px;

  color: #29517c;
  margin-left: 46px;
  text-align: left;
  margin-bottom: 65px;
}
.form-row {
  margin-left: 46px;
  margin-right: 39px;
}
#Student_input {
  /* padding-right: 28px; */
  /* margin-right: 15px !important; */
  /* margin-left: 0px !important; */
  height: 38px;
  border: 1px solid #29507c;
  box-sizing: border-box;
  border-radius: 7px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #29517c !important;
  padding-top: 12px;
  padding-left: 14px !important;
  padding-bottom: 9px;
}
.row1 {
  margin-bottom: 44px;
}
.Student_add {
  width: 100%;
  height: 81px;
  border: 1px solid #29507c;
  box-sizing: border-box;
  border-radius: 7px;
  padding-right: 39px;
  margin-bottom: 48px;
}
.row3 {
  margin-bottom: 82px;
}
.Student_next {
  width: 145px;
  height: 41px;
  /* margin-left: 291px; */
  background: #29517c;
  border: 1px solid #e2ecf5;
  box-sizing: border-box;
  border-radius: 7px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */
  color: #ffffff;
}
.Student_cap {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #29517c;
}
.Student_capcha {
  margin-right: 28px;
}
.row4 {
  margin-bottom: 20px !important;
}
.Student_submit {
  width: 145px;
  height: 41px;
  /* margin-left: 291px; */
  background: #29517c;
  border: 1px solid #e2ecf5;
  box-sizing: border-box;
  border-radius: 7px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */
  color: #ffffff;
}
@media (max-width: 500px) {
  #Student_input {
    margin-bottom: 25px;
  }
  .mobile {
    height: 468px;
    background: #f2f2f2;
    width: 100%;
    margin-bottom: 20px;
  }
  .row1 {
    margin-bottom: 0px;
  }
  .row2 {
    margin-bottom: 0px;
  }
  .row3 {
    margin-bottom: 0px;
  }
  .Student_add {
    margin-bottom: 25px !important;
  }
  #desktop {
    display: none;
  }
  .Student_pic {
    display: none;
  }
  .Student_head_mob {
    margin-left: 20px;
    margin-top: 37px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    color: #29517c;
    text-align: left;
    margin-left: 20px;
  }
  .Student_head2_mob {
    margin-left: 20px;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 200;
    font-size: 28px;
    line-height: 33px;
    color: #29517c;
    text-align: left;
    margin-left: 20px;
  }
  .Student_img {
    margin-top: 77px;
    width: 287px;
    height: 287px;
  }
  .form-row {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (min-width: 510px) {
  .mobile {
    display: none;
  }
}
